<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bets</title>
    <link th:href="@{/css/mystyle.css}" rel="stylesheet">
</head>
<body>
<a href="/bet/list">Back</a>
<div align="center">
    <h1 th:text="'filtered by clientid #:  ' + ${clientid}"></h1>
    <br/><br/>
    <div>
        <table border="1" class="styled-table">
            <thead>
                <tr>
                    <th>Bet_ID</th>
                    <th>Game</th>
                    <th>Stake</th>
                    <th>Returns</th>
                    <th>Client_ID</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="bet : ${bets}">
                    <td align="center" th:utext="${bet.id}">...</td>
                    <td align="center" th:utext="${bet.game}">...</td>
                    <td align="center" th:utext="${bet.stake}">...</td>
                    <td align="center" th:utext="${bet.returns}">...</td>
                    <td align="center" th:utext="${bet.clientid}">...</td>
                    <td align="center" th:utext="${bet.date}">...</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>